@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h5 {
    font-size: 1.1rem !important;
}


.space-price {
    margin: 5px;
    font-size: xx-large;
    padding: 10px;
}

.price-container {
    margin-top: 5px;
    padding: 10px;

}
html {
  font-family: "Muli", sans-serif;
  font-size: 16px;
  font-weight: 100;
}

.purple {
    color: #833ab4
}

.white {
    color: white
}

.red {
    color: #fd1d1d
}

.orange {
   color: #fcb045
}

.title {
    padding: 20px;
}


.hidden {
    display: none !important;
}

.card-category {
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 20px;
    padding: 8px;

}

.image-category {
    height: 200px;
    width: 247px;
}

.pointer-events-none {
    pointer-events: none;

}

.card-category h5 {
    background-color: #fd1d1d;
    color: white;
    padding: 5px;
    margin-top: 10px;

}

.shrink-card {
    height: 263px;
}

.btn-purple {
    color: white !important;
    background-color: #833ab4 !important;
}

.logo {
    width: 50px;
}

.clicked {
    background-color: #fcb045;
}

.right-answer {
    background-color: #A8FF8F;
}

.timer {
    font-size: 10px;
    background-color: #fcb045;
    padding: 2px;
    text-align: right;
    margin-bottom: 0px;
    padding-right: 8px;
    font-style: italic;
    color: white;
}

ul {
    list-style-type: none;
}

li {
    padding: 3px;
    border-bottom: 1px solid #fcb045;
}

a {
    color: black !important;
    text-decoration: none !important;
    padding: 5px !important;
    margin: 5px !important;
    font-size: 22px !important;
}

.second-title {
    background-color: purple;
    color: white;
    padding: 10px;
    margin-bottom: 50px;
    font-weight: 500;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.colorful {
    color: red !important
}

#game-explanation {
    margin-top: -8px;
    color: white;
    padding: 15px;
    font-weight: 600;
    align-items: center;
   
}

.w-80 {
    width: 80%;
}

#average-score-navbar {

    padding-top: 0  !important;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
    position: fixed;
    right: 0;
    top: 10%;

}



.banner {
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    margin-top: -240px;
    height: 100vh;
}

.btn-category {
    margin-bottom: 40px;
}

.bigger {

    font-size: xx-large;
}

#category {
    padding: 9px;
    border-bottom: 1px solid;
}

.space-right {
    margin-right: 48px
}

.text-score {
    margin-top: 50px;
}